@media(max-width:992px){
	.box-item{
		width: 40%;	
	}
	
	.container {
        padding-left: 10%;
        padding-right: 5%;
    }
}

@media(max-width:480px){
	.box-item{
		width: 80%;
	}
	
	.container {
        padding-left: 5%;
        padding-right: 5%;
    }
}