*{
	margin: 0 auto;
	padding: 0;
}

body{
	background-color: #98fb98;
}

.container{
	margin-top: 20vh;
    width: 100%;
    height: 100vh;
    border: 0;
}

.box-item{
	width: 20%;;
	height: 250px;
	margin: 2%;
	border: 0;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;


}

.box-item-mask{
	background-color: rgba(255, 102, 0, 0.2);
	opacity: 0;
	position: relative;
	transition: all 0.3s;
	transition-property: opacity;
	height: 250px;
	width: 100%;
	font-size: 3em;
	text-align: center;

}

.box-item-mask i{
	color: #fff;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box-item-mask:hover{
	opacity: 1;
}


#product-1{
	background-image: url(../img/product-1.jpg);
}

#product-2{
	background-image: url(../img/product-2.jpg);
}

#product-3{
	background-image: url(../img/product-3.jpg);
}

#product-4{
	background-image: url(../img/product-4.jpg);
}


/*

.box-item-mask:hover{
	background-color: rgba(255, 96, 0, 0.5);
	transition: all 0.2s linear;
}
*/




/*
div:hover{
	background-color: rgba(255, 111, 0, 0.5);
	opacity: 0.5;
	content: "\f07a";
}
*/
